<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<style>
	.filedError{
		border-color: red;
		color: red;
		
	}
</style>
<body>
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
	
	<div class="container my-3">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{|/post/list|}">List</a></li>
				<li class="breadcrumb-item active" aria-current="page">New</li>
			</ol>
		</nav>
	<h2 class="my-3 border-bottom pb-2">게시글 작성</h2>
	<form method="post" th:action="@{create}" th:object="${postDTO}">
		<div class="mb-3">
			<label for="title" class="form-label">Title</label>
			<input type="text" name="title" id="title" class="form-control" placeholder="제목을 입력해주세요">
			<p class =filedError th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect data</p>
		</div>
		<div class="mb-3">
			<label for="contents" class="form-label" >Contents</label>
			<input type="text" name="contents" id="contents" class="form-control" placeholder="내용을 입력해주세요">
			<p class="filedError" th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}">Incorrenct data</p>
		</div>

		<input type="submit" value="Save" class="btn btn-success">
	</form>
	</div>
</body>
</html>